<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      Active action count - {{activeActionCount}}
    </div>
    <div class="col-xs-12 col-md-8">
      Inactive action count - {{inactiveActionCount}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>

    <!--
      Optimize this app by adding a UserService which manages the active and inactive users.

      Also add a CounterService which counts the number of active, inactive actions.
    -->
  </div>
</div>
